//light mode
$primarycolorA: #0C6C5C;
$secondarycolorA: white;
$thirdcolorA: black;

//darkmode
$primarycolorB: #6C0C46;
$secondarycolorB: black;
$thirdcolorB: white;

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Aboreto';
    overflow-x: hidden;
}

#navmenu{
    align-items: center;
    font-size: 1.2rem;
}
#categoriestitle{
    padding-left: 15%;
    margin-left: 10px;
    margin-right: 10px;
}
.menu-item {
    font-size: 1.2em;
    padding-left: 25%;
}

#genders{
    margin-left: 20px;
}

h1{
    font-weight:200;
}

#title{
    font-size: 1.65rem;
    text-align: center;
}

footer {
    position: fixed; 
    font-size: 12px;
    bottom: 0; 
    width: 100%; 
    color: white; 
    text-align: center;
    height: auto;
    p{
        margin-left: 35%;
    }
  }

  nav{
    width: 100%;
    height: 40px;
    padding: 12px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: stretch;
}
  
button{
    font-size: 12px;
    font-weight: bolder;
    border-radius: 300px;
    height: auto;
}

#menu{    
    color: $secondarycolorA;
}

#menu-btn{
    filter: invert(1);
    height: 70%;
    z-index: 3;
}

#menu-btn, #home{
    align-self: center;
    padding: 13px;
}

#home{
    height: 85%;
}
#searchbutton{
    height: 70%;
    align-self: center;
    position: relative;
    left: -34px;
}

input{
    height: auto;
    border-radius: 300px;
    background-color: #D9D9D9;
    width: 98px;
}


#crd{   
    display: flex;
    height: 175px;
    margin-left: 4%;
    margin-right: 4%;
    border: black solid 2px;
    img{
        width: 120px;
    }
}


#grd{
    margin-left: 5%;
    display: inline-flex;
    height: 165px;
    border: black solid 2px;
    margin-bottom: 2%;
    border: black solid 2px;
    justify-content: flex-start;
    align-content: space-around        ;
    img{        
      width: 120px;
    }
}
#neC {
    justify-content: center;
    display: flex; 
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px; 
    padding: 10px;
    scrollbar-width: thin; 
}
#geC{
justify-content: center;
padding-left: 5%;
padding-right: 5%;
}

  .inactive{
    top: 0;
    left: 0;
    backdrop-filter: blur(4.8px);
    width: 100vw; 
    height: 100vh; 
    position:absolute;
    transform: translateX(-150%); 
    transition: transform 1.5s ease-in-out; 
  }
  
  .active{
    transform: translateX(0%);    
  }

.lightmode{
    background-color: $secondarycolorA;
    color: $thirdcolorA;
    nav{
        background-color: $primarycolorA;
    }
    button{
        background-color: $thirdcolorA;
        color: $thirdcolorB;
    }
    footer{
        background-color: $primarycolorA;    
    }    
    #menu{
        background-color: #0c6c5c9b;
        border-color: #0c6c5c9b;
    }
    .menu-item:hover {
        background-color: #0c6c5c9b; 
    }
    
    #navmenu{
        background-color: #0c6c5c7b;
    }
    
}

.darkmode{
    background-color: $secondarycolorB;
    color: $thirdcolorB;
    nav{
        background-color: $primarycolorB;
    }
    footer{
        background-color: $primarycolorB;
    }
    #menu{
        background-color: #6c0c468e;
        border-color: #6c0c46c2;
    }
    .menu-item:hover {
        background-color: #6c0c46c2; 
    }
    #navmenu{
        background-color: #6c0c468e;
    }
}