.ligthmode{
    background-color: white;
    color: black;
    .navcolor{
        background-color: #0C6C5C;
    }
}

.darkmode{
    background-color: black;
    color: white;
    .navcolor{
        background-color: #6C0C46;
    }
}